body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.main-content {
    background-color: #93E9BE;
    height: 50%;
}